:root {
  /* FONT */
  --font-dm-sans: "DM Sans", sans-serif;
  --font-size-default: 14px;
  --font-size-small: 12px;

  /* COLOR */
  --bg-dark: #121212;
  --bg-medium-dark: #242424;
  --text-gray: #b3b3b3;
  --bg-icon: #131313;
  --bg-arrow-color: rgba(0, 0, 7);
}